doctype html

html(lang='ru')

  include includes/head.pug

  body

    main 
      ul
        li.main-link
          a(href="page1.html") Страница 1
        li.main-link
          a(href="page2.html") Страница 2