doctype html

html(lang='ru')

  include includes/head.pug

  body

    main
      section.page2-section
        .container
          h1.page2-h1 Voluptatem illo assumenda
          .page2-content
            .page2-content-desc
              .page2-content-desc__item
                .page2-content-desc__item-start Start:
                .page2-content-desc__item-date october 29
              .page2-content-desc__item
                .page2-content-desc__item-start Remained:
                .page2-content-desc__item-date 15 seats
              .page2-content-desc__item
                .page2-content-desc__item-text Use the cross-platform SAS bandwidth, then you can calculate the mobile bandwidth!
                .page2-content-desc__item-text Qui eos a quia dolorem sapiente deserunt ut expedita sunt. Quia perspiciatis quo excepturi id dolor voluptatem aut adipisci.
            .page2-content-price
              .page2-content-price__name Labore qui et animi.
              .page2-content-price__block
                .page2-content-price__block-info
                  .page2-content-price__block-info-price 4 900 ₽
                  .page2-content-price__block-info-price 325 900 ₽
                  .page2-content-price__block-info-time per month
                  .page2-content-price__block-info-desc installment plan without discount
                  .page2-content-price__block-info-old 5000 ₽/month
                .page2-content-price__block-disc
                  .page2-content-price__block-disc-value -40%
                  .page2-content-price__block-disc-text until 28 december
            .page2-content-form
              form(action="")
                .input-group
                  input#email(type="text", name="email", placeholder="Your email").input
                .input-group
                  input#phone(type="text", name="phone", placeholder="Your phone").input
                .input-group
                  input#name(type="text", name="name", placeholder="Your name").input
                button.button(type="submit") Subscribe  
