doctype html

html(lang='ru')

  include includes/head.pug

  body

    main
      section.page1-section
        .container
          h1 Voluptatem illo assumenda
          .page1-content
            .page1-content-block.block-1
              .page1-content-block__img
                .page1-content-block__img-wrap
              .page1-content-block__info
                .page1-content-block__info-name Izabella8
                .page1-content-block__info-about Global Infrastructure Architect
                .page1-content-block__info-time 08:30 – 09:00
                .page1-content-block__info-text Qui eos a quia dolorem sapiente deserunt ut expedita sunt. Quia perspiciatis quo excepturi id dolor voluptatem aut adipisci.
            .page1-content-block.block-2
              .page1-content-block__img
                .page1-content-block__img-wrap
              .page1-content-block__info
                .page1-content-block__info-name Izabella8
                .page1-content-block__info-about Global Infrastructure Architect
                .page1-content-block__info-time 08:30 – 09:00
                .page1-content-block__info-text Qui eos a quia dolorem sapiente deserunt ut expedita sunt. Quia perspiciatis quo excepturi id dolor voluptatem aut adipisci.
            .page1-content-block.block-3
              .page1-content-block__img
                .page1-content-block__img-wrap
              .page1-content-block__info
                .page1-content-block__info-name Izabella8
                .page1-content-block__info-about Global Infrastructure Architect
                .page1-content-block__info-time 08:30 – 09:00
                .page1-content-block__info-text Qui eos a quia dolorem sapiente deserunt ut expedita sunt. Quia perspiciatis quo excepturi id dolor voluptatem aut adipisci.
            .page1-content-block.block-4
              .page1-content-block__img
                .page1-content-block__img-wrap
              .page1-content-block__info
                .page1-content-block__info-name Izabella8
                .page1-content-block__info-about Global Infrastructure Architect
                .page1-content-block__info-time 08:30 – 09:00
                .page1-content-block__info-text Qui eos a quia dolorem sapiente deserunt ut expedita sunt. Quia perspiciatis quo excepturi id dolor voluptatem aut adipisci.
                  
